.sidebar {

  &__heading {
    margin: 0 0 24px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }

  &__text {
    margin: 0 0 48px 0;
    color: $color-storm-grey;
    font-size: 18px;
    line-height: 24px;
  }

  &__button {
    display: none;
  }

  &__categories {
    margin: 0 0 60px 0;
  }

  &__socials {
    margin: 0 0 24px 0;
  }

  &__share {
    margin: 0 0 12px 0;
    color: $color-storm-grey;
    font-size: 13px;
    line-height: 16px;
    display: block;
  }

  &__copyright {
    margin: 0;
    color: $color-storm-grey;
    font-size: 13px;
    line-height: 16px;
  }
}
