.checkbox {
    display: flex;
    margin-bottom: 32px;
    cursor: pointer;
    align-items: flex-start;
}

.checkbox:nth-child(4) {
    margin: 0;
}

.checkbox .checkbox-label {
    position: relative;
    padding-left: 48px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
}


.checkbox .checkbox-label:hover {
    color: rgba(135, 242, 154, 1);
    user-select: none;
} 

.checkbox input {
    display: none;
}

.checkbox input:checked + .checkbox-label {
    color: #FFFFFF;
}

.checkbox .checkbox-label {
    position: relative;
    padding-left: 48px;
    cursor: pointer;
}

.checkbox .checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.15);
}

.checkbox input:checked + .checkbox-label::before {
    background: rgba(135, 242, 154, 1);
    border: none;
    content: "";
}

.checkbox__check-icon {
    position: absolute;
    top: 0;
    left: 7px;
    transform: translateY(50%);
    display: none;
    color: #000;
}

.checkbox-check:checked + .checkbox-label .checkbox__check-icon {
    display: block;
}